<div class=" d-flex flex-column">
  <button class=" p-3 mb-3 r-lunes" routerLink="/rutinas/lunes">LUNES</button>
  <button class=" p-3 mb-3 r-martes" routerLink="/rutinas/martes">MARTES</button>
  <button class=" p-3 mb-3 r-miercoles" routerLink="/rutinas/miercoles">MIERCOLES</button>
  <button class=" p-3 mb-3 r-jueves" routerLink="/rutinas/lunes">JUEVES</button>
  <button class=" p-3 mb-3 r-viernes" routerLink="/rutinas/martes">VIERNES</button>
  <button class=" p-3 mb-3 r-sabado" routerLink="/rutinas/miercoles">SÁBADO</button>
</div>
