.botones-3col{
    display: grid;

}
.boton{
    border-color:  rgb(0, 9, 112);
    background-color: rgb(0, 123, 255);
    color: white;
    padding: 15px;
    font-size: 20px;
}
.boton:active{
  background-color: rgb(70, 155, 245);
}
